/* CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
      
  /* Clase fixed-width container que se "autocentrará" a sí misma */
  .container {
    width: 1200px;
    margin: 0 auto;
  }

  /*Button*/
  .btn{
    color: aqua;
  }  

  /*Columnas*/ 
  .col{  
    color: aqua;
  } 
  /*Filas*/
  .row{
    color: aqua;
  } 
  
  /*Barra Navegacion*/
  .navbar{
    color: aqua;
  } 